FormatStyle: file

HeaderFilterRegex: '^(include/|src/)'

Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type

WarningsAsErrors: >
  *
